<div>
  <mat-toolbar class="header">
    <div class="header-wrapper">
      <div class="logo">
        <img src="/assets/wattbiller_logo.svg">
        <h1>wattbiller</h1>
      </div>
      <ul>
        <li>Billing</li>
        <li>Meter</li>
        <li>Debitors</li>
      </ul>
    </div>
  </mat-toolbar>

  <div class="content-container">
    <main>
      <mat-toolbar class="subheader">
        <ng-template #subheader></ng-template>
        <ng-template #titleSubheader
                     let-title>
          <h2>{{ title }}</h2>
        </ng-template>
      </mat-toolbar>

      <router-outlet #outlet></router-outlet>
    </main>
  </div>
</div>
