$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$rackfarm-primary: (
  50: #CBE3FE,
  100: #CBE3FE,
  200: #98C4FE,
  300: #65A1FD,
  400: #3F83FC,
  500: #0052FB,
  600: #003FD7,
  700: #002EB4,
  800: #002091,
  900: #001778,
  A100: #CBE3FE,
  A200: #98C4FE,
  A400: #3F83FC,
  A700: #002EB4,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$rackfarm-warn: (
  50: #FEE4D5,
  100: #FEE4D5,
  200: #FEC2AD,
  300: #FE9983,
  400: #FD7264,
  500: #FC3232,
  600: #D82434,
  700: #B51934,
  800: #920F31,
  900: #780930,
  A100: #FEE4D5,
  A200: #FEC2AD,
  A400: #FD7264,
  A700: #B51934,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
)
